<h2>Import Users</h2>
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<%= form_tag search_users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search"  %>
  </p>
<% end %>

<p><%= link_to "Add Staff", signup_path %></p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">

  <tr>
    <th>Full Name</th>
    <th>Username</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %> <%= user.last_name %></td>
    <td><%= user.username %></td>
  </tr>
<% end %>
</table>


