  <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Listing teams</h3>
          </div> <!-- /widget-header -->
        
             <div class="widget-content">



<%= form_tag search_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search By Team Name", :team_name => nil ,:class =>"btn btn-primary"%>
  </p>
<% end %>

<%= form_tag search_vendor_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search By Vendor", :team_name => nil ,:class =>"btn btn-primary"%>
  </p>
<% end %>




<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Team name</th>
      <th>Vendor</th>
      <th>Reader</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= team.user.username rescue nil %></td>
        <td>
          <% TeamUser.find_all_by_team_id(team.id).each do |reader|%>
          <%= reader.user.first_name rescue nil  %>,
          <% end %>
        </td>
       <%#= link_to 'Edit', edit_team_path(team) %>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' },:class =>"btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path,:class =>"btn btn-secondary" %>

</div>  
</div>
</div>
</div>
