
<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>User role:</strong>
    <%= @team.user_role.name %><br/>
</p>
  <strong>Reader</strong>
<% @readers.each do |reader|%>
<p>
  <%= reader.user_role.name rescue nil %>
</p>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
