<div class="account-container stacked">
	
	<div class="content clearfix">
		
		<%= form_for(:session, :url => sessions_path) do |f| %>
		
			<h1>Sign In</h1>		
			
			<div class="login-fields">
				
				<p>Sign in using your registered account:</p>
				
				<div class="field">
					<label for="username">Username:</label>
					
					<%= f.text_field :username ,:placeholder=>"Username", :class=>"login username-field" %>
				</div> <!-- /field -->
				
				<div class="field">
					<label for="password">Password:</label>
				
					<%= f.password_field :password,:placeholder=>"Password",:class=>"login password-field" %>
				</div> <!-- /password -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
				
				<span class="login-checkbox">
					
					<%= check_box_tag :remember_me, 1, params[:remember_me],:class=>"field login-checkbox" %>
					<label class="choice" for="Field">Keep me signed in</label>
				</span>
									
				  <%= f.submit "Sign In" ,:class=> "button btn btn-warning btn-large"%>
				
			</div> <!-- .actions -->
			 <% end %>
    </div>
	<!-- /content -->
	
</div> <!-- /account-container -->

    