<table border cellpadding = "12" >
  <thead>
    <tr>
      <th>PC</th>
      <th>BU</th>
      <th>Consumer name</th>
      <th>Address</th>
      <th>City</th>
      <th>DTC</th>
    </tr>
  </thead>

  <tbody>
   <% @consumers.each do |consumer| %>
      <tr>
        <td><%= consumer.bu %></td>
        <td><%= consumer.pc %></td>
        <td><%= consumer.name %></td>
        <td><%= consumer.addrs %></td>
        <td><%= consumer.city %></td>
        <td><%= consumer.dtc %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Export Excel", consumers_path(params.merge(format: "xls"))  %>