<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-highlight">  <thead>
    <tr>
      <th>ACCOUNT_NO</th>
      <th>COMUTER_NO</th>
      <th>CONS_CODE</th>
      <th>CONS_NO</th>
      <th>NAME</th>
      <th>CONN_ADD1</th>
      <th>CONN_ADD2</th>
      <th>METER_NO</th>
      <th>SUB_CLUSTER</th>
      <th>CLUSTER_ID</th>
      <th>WALKING_SEQ_NO</th>
    </tr>
  </thead>

  <tbody>
   <% @consumers.each do |consumer| %>
      <tr>
      	<td><%= consumer.account_no %></td>
        <td><%= consumer.computer_no %></td>
        <td><%= consumer.cons_code %></td>
        <td><%= consumer.cons_no %></td>
        <td><%= consumer.name %></td>
        <td><%= consumer.conn_add1 %></td>
        <td><%= consumer.conn_add2 %></td>
        <td><%= consumer.meter_no %></td>
        <td><%= consumer.sub_cluster %></td>
        <td><%= consumer.cluster_id %></td>
        <td><%= consumer.walking_seq_no %></td>
      </tr>
    <% end %>
  </tbody>
</table>

