  <% content_for :scripts do %>
   <%= javascript_include_tag  "jquery-1.5.2.min.js","jquery.validate.min","validation" %>
  <% end %>
<%= form_for(@mobileuser,:html => {:id => "mobileuser"}) do |f| %>
     <% if @mobileuser.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@mobileuser.errors.count, "error") %> prohibited this mobile_user from being saved:</h2>

                <ul>
                <% @mobileuser.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
<div>
    <%= f.label "Select user" %><br />
    <%= select("dtc_staff", "user_id", User.find_all_by_role_id(2).collect {|p| [ p.username, p.id ] }, {include_blank: 'select user'}) %>
  </div>
 <div>
    <%= f.label "Select Imei" %><br />
    <%= f.collection_select :imei, MobileDevise.all(:order => "imei"), :imei, :imei  %>
  </div>

<div class="actions">
	<%= f.submit "Save"  %>
	
</div>
<% end %>
