  <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Activity Report</h3>
          </div> <!-- /widget-header -->
        
<style type="text/css">
#ui-datepicker-div{
  z-index: 1100  !important;
}
</style>
   <div class="widget-content">



<%= form_tag search_by_reader_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search by reader", :team_name => nil ,:class =>"btn btn-primary"%>
  </p>
<% end %>

<%= render 'shared/date_search' %>

<a href="<%= activity_summary_report_readings_path %>" class="btn">Activity Summary Report</a>
</div>	
</div>
</div>
</div>