<style type="text/css">
#ui-datepicker-div{
  z-index: 1100  !important;
}
</style>
<div class="page-header-custom">
 <h3 align = "center">Activity Report</h3>
</div>

<%= form_tag search_vendor_report_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search by vendor", :team_name => nil %>
  </p>
<% end %>

<%= form_tag search_by_reader_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search by reader", :team_name => nil %>
  </p>
<% end %>

<%= render 'shared/date_search' %>

<a href="<%= activity_summary_report_readings_path %>"><i class="nav-icon-12"></i><span>Activity Summary Report </span></a>