 <style> 
.img1
{
width:200px;
height:200px;
background-color:yellow;
/* Rotate div */
transform:rotate(0deg);
-ms-transform:rotate(0deg); /* IE 9 */
-webkit-transform:rotate(0deg); /* Safari and Chrome */
}
</style>
 <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Readings</h3>
          </div> <!-- /widget-header -->
        
        <div class="widget-content">
        
        <div class="row-fluid">
        <div class="span5">
        
        <section id="buttons">
          <h4>Search by</h4>
          
         
  <%= link_to "All", readings_path , :class =>"btn "%>
  <%= link_to 'Old consumer' ,readings_consumer_status_path(:consumer_status => true), :class =>"btn " %>
  <%= link_to 'New consumer' ,readings_consumer_status_path(:consumer_status => false) , :class =>"btn "%>


                  
            </section>
  </div>
<% if params[:consumer_status] == "true" %>
  <div class="span7">
        
         <%= render 'shared/date_search' %>
        
        </div>
         
        </div>
        </br>

      
        
        

        <section id="tables">
          
          
          
          <div class="row-fluid">
          <div class="span6">
          <h3>Consumers Readings</h3>
          </div>
  
          <div class="span6" style="text-align:right">
          <a href="<%=  readings_consumer_status_path(params.merge(format: "xls")) %>" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a> 
          <a href="<%= readings_consumer_status_path(params.merge(format: "pdf"))  %>" class="btn btn-secondary"><i class="icon"><img src="/assets/pdf.png" alt=""></i> PDF</a>
          </div>

          </div>
          
          <table class="table table-bordered table-striped table-highlight">
                    <thead>
                      <tr>
                        <th>Consumer Number</th>
                        <th>Reader</th>
                        <th>Team</th>
                        <th>Meter Reading</th>
                        <th>Dtc</th>
                        <th>Meter Status</th>
                        <th>Meter Reader Status</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Date Time</th>
                        <th>Image</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>

                  <%  @readings_status.each do |reading| %>  
                      <tr>
                        <td><%= reading.consumer_no rescue nil%></td>
                        <td><%= reading.read_by rescue nil%></td>
                        <td><% a =  TeamUser.find_by_user_id(reading.user_id).team_id rescue nil %>
                        <%= User.find(Team.find(a).user_id).username rescue nil %> </td>
                        <td><%= reading.meter_reading  rescue nil%></td>
                        <td><%= reading.dtc rescue nil%></td>
                        <td><%= reading.meter_status rescue nil%></td>
                        <td><%= reading.meter_reader_status rescue nil%></td>
                        <td><%= reading.latitude rescue nil%></td>
                        <td><%= reading.longitude rescue nil%></td>
                        <td><%= reading.created_at.strftime("%T %a %b %e %Y ")%></td>
                        <td><%= image_tag reading.image.url ,:class => "img1" %></td>
                        <td><%= link_to 'Show', reading ,:class =>"btn btn-primary"%></td>
                      </tr>
                  <% end %>
                  
                   </tbody>
            </table>
                  

            
            
                  
          </section>
                



<% else %>
<div class="span7">
        
         <%= render 'shared/date_search' %>
        
        </div>
         
        </div>
        </br>

      
        
        

        <section id="tables">
          
          
          
          <div class="row-fluid">
          <div class="span6">
          <h3>Consumers Readings</h3>
          </div>
  
          <div class="span6" style="text-align:right">
          <a href="<%=  readings_consumer_status_path(params.merge(format: "xls")) %>" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a> 
          <a href="<%= readings_consumer_status_path(params.merge(format: "pdf"))  %>" class="btn btn-secondary"><i class="icon"><img src="/assets/pdf.png" alt=""></i> PDF</a>
          </div>

          </div>
          
          <table class="table table-bordered table-striped table-highlight">
                    <thead>
                      <tr>
                        <th>Consumer Number</th>
                        <th>Reader</th>
                        <th>Team</th>
                        <th>Meter Reading</th>
                        <th>Dtc</th>
                        <th>Meter Status</th>
                        <th>Meter Reader Status</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Date Time</th>
                        <th>Image</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>

                  <%  @readings_status.each do |reading| %>  
                      <tr>
                        <td><%= reading.consumer_no rescue nil%></td>
                        <td><%= reading.read_by rescue nil%></td>
                        <td><% a =  TeamUser.find_by_user_id(reading.user_id).team_id rescue nil %>
                        <%= User.find(Team.find(a).user_id).username rescue nil %> </td>
                        <td><%= reading.meter_reading  rescue nil%></td>
                        <td><%= reading.dtc rescue nil%></td>
                        <td><%= reading.meter_status rescue nil%></td>
                        <td><%= reading.meter_reader_status rescue nil%></td>
                        <td><%= reading.latitude rescue nil%></td>
                        <td><%= reading.longitude rescue nil%></td>
                        <td><%= reading.created_at.strftime("%T %a %b %e %Y ")%></td>
                        <td><%= image_tag reading.image.url ,:class => "img1" %></td>
                        <td><%= link_to 'Show', reading ,:class =>"btn btn-primary"%></td>
                      </tr>
                  <% end %>
                  
                   </tbody>
            </table>
                  

            
            
                  
          </section>
                



<% end %>


        
        </div> <!-- /widget-content -->
          
      </div> <!-- /widget -->
          
      </div>
        
      </div> <!-- /row -->
