<div class="page-header-custom">
            <h3 align = "center">
               Readings</h3>
            <!--subnav-->
          
        </div>


<table cellpadding="10" cellspacing="0" border="1" class="table table-striped table-bordered">
  
    <tr>
      <th>Sr. No.</th>
      <th>Account Number</th>
      <th>Consumer Number</th>
      <th>Reader</th>
      <th>Remarks</th>
      <th>Meter No</th>
      <th>New Meter No</th>
      <th>Meter Reading</th>
      <th>Sub Cluster</th>
      <th>Meter Status</th>
      <th>Meter Reader Status</th>
      <th>Date Time</th>
      <th>Image</th>
    </tr>
  

 
    <%  @reads.each.with_index(1) do |reading,index=10| %>
      <tr>
        <td><%= index %></td>
	<td><%= reading.account_no rescue nil %>&nbsp;</td>
        <td><%= reading.consumer_no rescue nil%>&nbsp;</td>
        <td><%= reading.read_by rescue nil%>&nbsp;</td>
        <td><%= reading.remark rescue nil %></td>
        <td><%= reading.old_meter_no rescue nil %></td>
        <td><%= reading.new_meter_no rescue nil %></td>
        <td><%= reading.meter_reading  rescue nil%>&nbsp;</td>
        <td><%= reading.sub_cluster rescue nil%>&nbsp;</td>
        <td><%= reading.meter_status rescue nil%>&nbsp;</td>
        <td><%= reading.meter_reader_status rescue nil%>&nbsp;</td>
        <td><%= reading.created_at.strftime("%T %a %b %e %Y ")%></td>
        <td><%= image_tag reading.image.url ,:width => 250,:height=> 200%></td>
     </tr>
    <% end %>
  
</table>












