 <style> 
.img1
{
width:200px;
height:200px;
background-color:gray;
/* Rotate div */
transform:rotate(0deg);
-ms-transform:rotate(0deg); /* IE 9 */
-webkit-transform:rotate(0deg); /* Safari and Chrome */
}
</style>
 <div class="row">
        
    <div class="span12" style="width:auto;">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Readings</h3>
          </div> <!-- /widget-header -->
        
        <div class="widget-content">
        
        <div class="row-fluid">
        <div class="span5">
        
        <section id="buttons">
          <h4>Search by</h4>
          
         
  <%= link_to "All", readings_path , :class =>"btn "%>
  <%= link_to 'Old Consumer' ,readings_consumer_status_path(:consumer_status => true), :class =>"btn " %>
  <%= link_to 'New Consumer' ,readings_consumer_status_path(:consumer_status => false) , :class =>"btn "%>


                  
            </section>
        
        </div>
        
        
        <div class="span7">
        
         <%= render 'shared/date_search' %>
        <%= form_tag  search_by_cluster_path, :method => 'get' do %>

<table>
  <tr>
    <td>Cluster:</td>
    <td><%= select("reading", "cluster", @cluster.map {|p| [ p.cluster_id,p.cluster_id ] }, {include_blank: 'None'}) %></td>
    <td><%= submit_tag "Generate B30" ,:class =>"btn btn-primary"%></td>
   </tr>
</table>


<% end %>


        </div>
        
        
        
        
        
        
        
        
        </div>
        </br>
        
        
        
        
        
      
      
        
        

        <section id="tables">
          
          
          
          <div class="row-fluid">
          <div class="span6">
          <h3>Consumers Readings</h3>
          </div>
          <div class="span6" style="text-align:right">
          <%#= link_to "B30", readings_b30_path ,:class => "btn btn-secondary" %>
          <a href="<%= readings_path(params.merge(format: "xls"))%>" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a> 
          <a href="<%= readings_path(params.merge(format: "pdf"))%>" class="btn btn-secondary"><i class="icon"><img src="/assets/pdf.png" alt=""></i> PDF</a>
          </div>
          
          
          
          </div>
          
    <table class="table table-bordered table-striped table-highlight">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Consumer Number</th>
              <th>Reader</th>
              <th>Remarks</th>
              <th>Meter Number</th>
              <th>New Meter Number</th>
              <th>Meter Reading</th>
              <th>Sub Cluster</th>
              <th>Meter Status</th>
              <th>Meter Reader Status</th>
              <th>Date Time</th>
              <th>Image</th>
              <th colspan = "3">Actions</th>
            </tr>
          </thead>
          <tbody>

           <%  @readings.each.with_index(1) do |reading,index| %>  
            <tr>
              <td><%= index %></td>
              <%= render 'shared/readingss' ,:reading => reading %>
              <td id="events<%= reading.id%>">
                <%= link_to format_boolean(reading.status?), {:controller => 'readings', :action => 'toggled_status', :id => reading.id,:remote => true} %>
              </td>
            </tr>
            <% end %>
                        
         </tbody>
  </table>
                  
                  
                 
<section id="paginations">
       <%= will_paginate @readings,renderer: BootstrapPagination::Rails %>

                  
            </section>
            
            
                  
          </section>
                
            
          
          
          
        </div> <!-- /widget-content -->
          
      </div> <!-- /widget -->
          
      </div>
        
      </div> <!-- /row -->






 












