<div class="page-header-custom">
            <h3 align = "center">
               Readings</h3>
            <!--subnav-->
          
        </div>


Search By :<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
<tr>
  <td><%= link_to "All", readings_path %></td>
  <td><%= link_to 'Old consumer' ,readings_consumer_status_path(:consumer_status => true)%></td>
  <td><%= link_to 'New consumer' ,readings_consumer_status_path(:consumer_status => false)%></td>
</table>



<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
  
    <tr>
      
      <th>Consumer number</th>
      <th>Reader</th>
      <th>Team</th>
      <th>Meter reading</th>
      <th>Dtc</th>
      <th>Meter Status</th>
      <th>Meter Reader Status</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Action</th>
    </tr>
  

 
    <%  @readings.each do |reading| %>
      <tr>
        <td><%= image_tag reading.image.url %></td>
        <td><%= reading.consumer_no rescue nil%>&nbsp;</td>
        <td><%= reading.read_by rescue nil%>&nbsp;</td>
        <td><% a =  TeamUser.find_by_user_id(reading.user_id).team_id %>
      <%= User.find(Team.find(a).user_id).username rescue nil %>
        </td>
        <td><%= reading.meter_reading  rescue nil%>&nbsp;</td>
        <td><%= reading.dtc rescue nil%>&nbsp;</td>
        <td><%= reading.meter_status rescue nil%>&nbsp;</td>
        <td><%= reading.meter_reader_status rescue nil%>&nbsp;</td>
        <td><%= reading.latitude rescue nil%>&nbsp;</td>
        <td><%= reading.longitude rescue nil%>&nbsp;</td>
        <td> <%= link_to 'Show', reading %></td>

      </tr>
    <% end %>
  
</table>
<%= will_paginate @readings,renderer: BootstrapPagination::Rails %>

<%= link_to "Excel", readings_path(params.merge(format: "xls")) %>












