<% if @reader.blank? %>

<% if @readings.empty? %>
No results found!
<% else %>

  <div class="row-fluid">
          <div class="span6">
          <h3>Summary</h3>
          </div>
  
          <div class="span6" style="text-align:right">
     <a href="<%= search_by_date_summary_path(params.merge(format: "xls")) %>" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a> <br/> 
          </div>
          
          
          
          </div>
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <tr>
      <th>Sr. No. </th>
      <th>Reader</th>
      <th>Reading Counts</th>
    </tr>

   <% @readings.each.with_index(1) do |r,index| %>
   <% reader = reader_details(r)%>
   <% count = reading_count(r) %>
   <tr>
    <td><%= index %></td>
    <td><%= reader.read_by rescue nil %></td>
    <td>
    <%= link_to count ,search_by_reader_path(:search => "#{reader.user.id}", :start_from => "#{@start_from}", :start_to =>  "#{@start_to}") rescue nil %>
    </td>
   </tr>
  <% end %>

   
   
 
</table>
 

<% end %>

<% else %>
  <div class="row-fluid">
          <div class="span6">
          <h3>Summary</h3>
          </div>
  
          <div class="span6" style="text-align:right">
     <a href="<%= search_by_date_summary_path(params.merge(format: "xls")) %>" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a> <br/> 
          </div>
          
          
          
          </div>
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <tr>
      <th>Sr. No. </th>
      <th>Reader</th>
      <th>Reading Counts</th>
    </tr>

   <% @readings.each.with_index(1) do |r,index| %>
   <% reader = reader_details(r) %>
   <% count = reading_count(r) %>
   <tr>
    <td><%= index %></td>
    <td><%= reader.read_by rescue nil %></td>
    <td>
    <%= link_to count ,search_by_reader_path(:search => "#{reader.user.id}", :start_from => "#{@start_from}", :start_to =>  "#{@start_to}") rescue nil %>
    </td>
   </tr>
  <% end %>

   
   
 
</table>
 
<% end %> 