<div class="row">
  <div class="span12">          
    <div class="widget stacked ">
      <div class="widget-header">
        <i class="icon-pencil"></i>
          <h3>Show Reading</h3>
            <!--subnav-->
          
        </div>
    
        <div class="widget-content">
          
          
          <table class="table table-bordered table-striped">
                    
                    <tbody>
                      <tr>
                        <td>Meter reading</td>
                        <td><%=@reading.meter_reading %></td>
                        <td rowspan="23" align="left" valign="top" style="text-align:center; vertical-align: top;">
                  <%= image_tag @reading.image.url ,:width => 400,:height=> 400 %>
                  
                        <%= gmaps4rails(@json) %>
       
                  
                  
                  </td>
                        </tr>
                  
                  
                  <tr>
                        <td>Consumer no</td>
                        <td><%=@reading.consumer_no %></td>
                        </tr>
                  
                  <tr>
                        <td>Date Time</td>
                        <td><%= @reading.created_at.strftime("%T %a %b %e %Y ")%></td>
                        </tr>
                  
                  <tr>
                        <td>IME Number</td>
                        <td><%=@reading.ime_no %></td>
                        </tr>

		   <tr>
                    <td>Cluster</td>
                    <td><%=@reading.cluster_id %></td>
                    </tr> 
          
                  <tr>
                    <td>Sub Cluster</td>
                    <td><%=@reading.sub_cluster %></td>
                    </tr>
                   <tr>
                        <td>Account Number</td>
                    <td><%=@reading.account_no %></td>
                    </tr>
                    <td>Computer No</td>
                    <td>&nbsp;<%= @reading.computer_no %></td>
                  </tr>
                   <tr>
                    <td>Consumer Code</td>
                    <td>&nbsp;<%= @reading.cons_code %></td>
                  </tr>



                  <tr>
                    <td>Consumer Name</td>
                    <td><%=@reading.consumer_name %></td>
                    </tr>

		<tr>
                    <td>Consumer Address Line 1</td>
                    <td><%=@reading.conn_add1 %></td>
                    </tr>
                  
                  <tr>
                    <td>Consumer Address Line 2</td>
                    <td><%=@reading.conn_add2 %></td>
                    </tr>
                  
                  <tr>
                    <td>Meter Status</td>
                    <td><%=@reading.meter_status %></td>
                    </tr>
              
                  <tr>
                    <td>Meter Reader status</td>
                    <td><%=@reading.meter_reader_status %></td>
                    </tr>
                  <tr>
                   <td>Read By</td>
                    <td><%=@reading.read_by %></td>
                    </tr>
                  <tr>
                    <td>Latitude</td>
                    <td><%=@reading.latitude %></td>
                    </tr>
                  <tr>
                      <td>Longitude</td>
                      <td><%=@reading.longitude %></td>
                  </tr>
                  <tr>
                    <td>Old Meter No</td>
                   <td>&nbsp;<%=@reading.old_meter_no %></td>
                   </tr>
                  <tr>
                    <td>New Meter No</td>
                   <td>&nbsp;<%=@reading.new_meter_no %></td>
                    </tr>

                  <tr>
                    <td>Bill Month</td>
                   <td>&nbsp;<%=@reading.bill_month %></td>
                    </tr>
                  <tr>
                    <td>Walking Sequence</td>
                   <td>&nbsp;<%=@reading.walking_seq_no %></td>
                    </tr>

                    <tr>
                    <td>Remark</td>
                   <td>&nbsp;<%=@reading.remark %></td>
                    </tr>
                  

              </tbody>
            </table>
                  
                  
                 

            
            
                  
          </section>
                
            
   
          
 
     

  




 </div>

 </div> 
</div>

       
</div>
