
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Polygon Arrays</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
// This example creates a simple polygon representing the Bermuda Triangle.
// When the user clicks on the polygon an info window opens, showing
// information about the polygon's coordinates.

var map;
var infoWindow;

function initialize() {
  var mapOptions = {
    zoom: 15,
    center: new google.maps.LatLng(21.171419, 79.08),
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  var polygon;

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Define the LatLng coordinates for the polygon.
  var triangleCoords = [
  	<% JSON.parse(@json).each do |j| %>
      new google.maps.LatLng(<%= j["lat"] %>,<%= j["lng"] %>),
    <% end %>
  ];

    <% JSON.parse(@json).each do |j| %>

  var marker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= j["lat"] %>,<%= j["lng"] %>),
      map: map,
      title: '<%= j["lat"] %>,<%= j["lng"] %>'
  });
<% end %>
  // Construct the polygon.
  polygon = new google.maps.Polygon({
    paths: triangleCoords,
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 3,
    fillColor: '#FF0000',
    fillOpacity: 0.35
  });

  polygon.setMap(map);

  // Add a listener for the click event.
  google.maps.event.addListener(polygon, 'click', showArrays);

  infoWindow = new google.maps.InfoWindow();
}



/** @this {google.maps.Polygon} */
// function showArrays(event) {

//   // Since this polygon has only one path, we can call getPath()
//   // to return the MVCArray of LatLngs.
//   var vertices = this.getPath();

//   var contentString = '<b>Polygon</b><br>' +
//       'Clicked location: <br>' + event.latLng.lat() + ',' + event.latLng.lng() +
//       '<br>';

//   // Iterate over the vertices.
//   for (var i =0; i < vertices.getLength(); i++) {
//     var xy = vertices.getAt(i);
//     contentString += '<br>' + 'Coordinate ' + i + ':<br>' + xy.lat() + ',' +
//         xy.lng();
//   }

//   // Replace the info window's content and position.
//   infoWindow.setContent(contentString);
//   infoWindow.setPosition(event.latLng);

//   infoWindow.open(map);
// }

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>

