
<%= form_tag user_tracking_report_path, :method => 'get' do %>

<table>
  <tr>
    <td>Reader : </td>
    <td><%= text_field_tag :reader %></td>
  </tr>
  <tr>
    <td>Date From :</td>
    <td><input type="text_field" class="date_time" name="start_date" id="start_date"></td>
    <td> 
    <div class="input-append bootstrap-timepicker">
     <input id="timepicker1" type="text" class="input-small" name="timepicker1" style="height:26px;">
      <span class="add-on" style="height:16px;">
      <i class="icon-time"></i>
      </span>
    </div>
    </td>
  </tr>
  <tr>
    <td>Date To :</td> 
    <td><input type="text_field" class="date_time1" name="end_date" id="end_date"></td>
    <td> 
    <div class="input-append bootstrap-timepicker" >
     <input id="timepicker2" type="text" class="input-small" name="timepicker2" style="height:26px;">
      <span class="add-on" style="height:16px;">
      <i class="icon-time"></i>
      </span>
      </div>
    </td>
  </tr>
</table>
 
 <script type="text/javascript">
 $('#timepicker1').timepicker({
minuteStep: 1,
template: 'modal',
appendWidgetTo: 'body',
showSeconds: true,
showMeridian: false,
defaultTime: false
});
$('#timepicker2').timepicker({
minuteStep: 1,
template: 'modal',
appendWidgetTo: 'body',
showSeconds: true,
showMeridian: false,
defaultTime: false
});
</script>

<%= submit_tag "Search" %>
<% end %>

<%= form_tag readers_map_path , :method => 'get' do %>
  <p>
    <select  name="myselecttsms1"  id="select-toggle">
      <%= @consumer.each do |route_name| %>
    <option> <%= route_name.bu %>-<%= route_name.pc %> </option>
    <% end %>
   </select>
    <%= submit_tag "Search", :team_name => nil %>
  </p>
<% end %>
