<% content_for :scripts do %>
 <%= javascript_include_tag  "jquery-1.5.2.min.js","jquery.validate.min","validation" %>
<% end %>
<%= form_for(@dtc_staff,:html => {:id => "dtc"}) do |f| %>
  <% if @dtc_staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dtc_staff.errors.count, "error") %> prohibited this dtc_staff from being saved:</h2>

      <ul>
      <% @dtc_staff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dtc, "DTC" %><br>
    
    <%= select("dtc_staff", "dtc", Consumer.select("DISTINCT(dtc)").collect {|p| [ p.dtc, p.dtc ] }, {include_blank: 'select DTC'}) %>
  </div>
  <div class="field">
    <%= f.label :bu, "BU" %><br>
    
    <%= select("dtc_staff", "bu", Consumer.select("DISTINCT(bu)").collect {|p| [ p.bu, p.bu ] }, {include_blank: 'select BU'}) %>
  </div>
  <div class="field">
    <%= f.label :pc, "PC" %><br>
    
    <%= select("dtc_staff", "pc", Consumer.select("DISTINCT(pc)").collect {|p| [ p.pc, p.pc ] }, {include_blank: 'select pc'}) %>
  </div>

  <div class="field">
    <%= f.label :user_id, "Reader" %><br>
    <%= select("dtc_staff", "user_id", User.find_all_by_role_id(2).collect {|p| [ p.username, p.id ] }, {include_blank: 'select reader'}) %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>

