  <%= javascript_include_tag "prototype" %>
<% content_for :scripts do %>
 <%= javascript_include_tag  "jquery-1.5.2.min.js","jquery.validate.min","validation" %>
<% end %>
<%= form_for(@dtc_staff,:html => {:id => "dtc"}) do |f| %>
  <% if @dtc_staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dtc_staff.errors.count, "error") %> prohibited this dtc_staff from being saved:</h2>

      <ul>
      <% @dtc_staff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
     Cluster<br>
    <%#= select "carprofile",  :car_make_id, CarMake.all.map {|s| [s.name, s.id]},{:prompt => "Select Carmake"}, :onchange => "#{remote_function(:url => {:controller =>"carprofiles", :action => "update_model"}, :with => "'update_model='+value",:loading => "Element.show('loader');",:complete => "Element.hide('loader');")}" %>

    <%= select("dtc_staff", "cluster_id", MrConsumer.select("DISTINCT(cluster_id)").collect {|p| [ p.cluster_id, p.cluster_id ] }, {include_blank: 'select cluster_id'} , :onchange => "#{remote_function(:url => {:controller =>"dtc_staffs", :action => "update_model"}, :with => "'update_model='+value",:loading => "Element.show('loader');",:complete => "Element.hide('loader');")}")%>
  </div>
  <div id="cluster_id">
  <%= render 'update_model'%>

  </div>


  <div class="field">
    <%= f.label :user_id, "Reader" %><br>
    <%= select("dtc_staff", "user_id", User.find_all_by_role_id(2).collect {|p| [ p.username, p.id ] }, {include_blank: 'select reader'}) %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary" %>
  </div>
<% end %>

