<% content_for :scripts do %>
 <%= javascript_include_tag  "jquery-1.5.2.min.js","jquery.validate.min","validation" %>
<% end %>
<%= form_for(@dtc_staff,:html => {:id => "dtc"}) do |f| %>
  <% if @dtc_staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dtc_staff.errors.count, "error") %> prohibited this dtc_staff from being saved:</h2>

      <ul>
      <% @dtc_staff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Sub Cluster<br>
    
    <%= select("dtc_staff", "sub_cluster", MrConsumer.select("DISTINCT(sub_cluster)").collect {|p| [ p.sub_cluster, p.sub_cluster ] }, {include_blank: 'select sub_cluster'}) %>
  </div>


  <div class="field">
    <%= f.label :user_id, "Reader" %><br>
    <%= select("dtc_staff", "user_id", User.find_all_by_role_id(2).collect {|p| [ p.username, p.id ] }, {include_blank: 'select reader'}) %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary" %>
  </div>
<% end %>

