
  <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Listing SubCluster Staffs</h3>
          </div> <!-- /widget-header -->
        
             <div class="widget-content">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">

    <tr>
      <th>Sub Cluster</th>
      <th>Reader</th>
      <th>Actions</th>
      
    </tr>

    <% @dtc_staffs.each do |dtc_staff| %>
      <tr>
        <td><%= dtc_staff.sub_cluster %></td>
        <td><%= User.find(dtc_staff.user_id).username  rescue nil %></td>
        <td><%= link_to 'Show', dtc_staff ,:class => "btn" %></td>
         <% if can? :update, dtc_staff %>
        <td><%= link_to 'Edit', edit_dtc_staff_path(dtc_staff) ,:class => "btn" %></td>
        <% end %>
        <td><%= link_to 'Destroy', dtc_staff, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn"%></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New SubCluster Staff', new_dtc_staff_path, :class => "btn btn-secondary" %>
</div>  
</div>
</div>
</div>
