
  <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Listing Dtc Staffs</h3>
          </div> <!-- /widget-header -->
        
             <div class="widget-content">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">

    <tr>
      <th>DTC</th>
      <th>User</th>
      <th>Actions</th>
      
    </tr>

    <% @dtc_staffs.each do |dtc_staff| %>
      <tr>
        <td><%= dtc_staff.dtc %></td>
        <td><%= User.find(dtc_staff.user_id).username  rescue nil %></td>
        <td><%= link_to 'Show', dtc_staff %></td>
         <% if can? :update, dtc_staff %>
        <td><%= link_to 'Edit', edit_dtc_staff_path(dtc_staff) %></td>
        <% end %>
        <td><%= link_to 'Destroy', dtc_staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Dtc staff', new_dtc_staff_path %>
</div>  
</div>
</div>
</div>
