<h3 align ="center">Listing dtc staffs</h3>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">

    <tr>
      <th>DTC</th>
      <th>User</th>
      <th>Actions</th>
      
    </tr>

    <% @dtc_staffs.each do |dtc_staff| %>
      <tr>
        <td><%= dtc_staff.dtc %></td>
        <td><%= User.find(dtc_staff.user_id).username %></td>
        <td><%= link_to 'Show', dtc_staff %></td>
        <td><%= link_to 'Edit', edit_dtc_staff_path(dtc_staff) %></td>
        <td><%= link_to 'Destroy', dtc_staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Dtc staff', new_dtc_staff_path %>
