  <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Listing Mobile Devices</h3>
          </div> <!-- /widget-header -->
        
        <div class="widget-content">
        
        
        <section id="tables">
          
          
          
          <div class="row-fluid" style="margin-bottom:10px">
          
          
          <div style="text-align:right" class="span12">
          <%= link_to 'New Mobile device', new_mobile_devise_path ,:class=>"btn btn-secondary" %>        
          </div>
          
          
          
          </div>
          
          
          
          <table class="table table-bordered table-striped table-highlight">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>IMEI</th>
                        <th>Manufacturer Name</th>
                        <th>Purchase Date</th>
                        <th>Phone No</th>
                        <th colspan=2>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    <% @mobile_devises.each.with_index(1) do |mobile_devise,index| %>
                      <tr>
                        <td><%= index %></td>
                        <td><%= mobile_devise.imei %></td>
                        <td><%= mobile_devise.manufacturer_name %></td>
                        <td><%= mobile_devise.purchase_date %></td>
                        <td><%= mobile_devise.phone_no %></td>
                        <td> <%= link_to 'Edit', edit_mobile_devise_path(mobile_devise) ,
                         :class => "btn"%></td>
                        <td><%= link_to 'Delete', mobile_devise, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn"%>
                        </td>
                        </tr>
                    <% end %>
      
                    </tbody>
            </table>
                  
                  
                 

            
            
                  
          </section>
                
            
          
          
          
        </div> <!-- /widget-content -->
          
      </div> <!-- /widget -->
          
      </div>
        
      </div>



