<%= form_for :change_password do |f|  %>
<label> enter old password</label>
<%= f.password_field :old_password %><p>

<label> enter new password</label>
<%= f.password_field :new_password %><p>

<label> enter confirm password</label>
<%= f.password_field :new_password_confirmation %><p>
	<p><%= f.submit 'submit' %></p>

<% end %>