  <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Edit Staff</h3>
          </div> <!-- /widget-header -->
        
             <div class="widget-content">

<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
<%= f.label :first_name %>
<%= f.text_field :first_name,:style => "height: 30px;" %>
</div>

<br />
<div class="field">
<%= f.label :username %>
<%= f.text_field :username,:style => "height: 30px;" %>
</div>
<br />
<div class="field">
<%= f.label :password %>
<%= f.password_field :password,:style => "height: 30px;" %>
</div><br />	
<div class="field">
<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation ,:style => "height: 30px;"%>
</div><br/>
<div class="actions">
<%= f.submit "Update" ,:class => "btn btn-primary"%>
</div>
<% end %>
<div>

</div>
</div>

</div>

</div>

</div>

