<h1>Sign up</h1>
<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
<%= f.label :first_name %><br />
<%= f.text_field :first_name ,:style => "height: 30px;"%>
</div>
<div class="field">
<%= f.label :last_name %><br />
<%= f.text_field :last_name,:style => "height: 30px;" %>
</div>
<div class="field">
<%= f.label :username %><br />
<%= f.text_field :username,:style => "height: 30px;" %>
</div>

<div class="field">
<%= f.label :password %><br />
<%= f.password_field :password,:style => "height: 30px;" %>
</div>
<div class="field">
<%= f.label :password_confirmation, "Confirmation" %><br />
<%= f.password_field :password_confirmation,:style => "height: 30px;" %>
</div>
<div class="actions">
<%= f.submit "Sign up" %>
</div>
<% end %>
