  <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Add Staff</h3>
          </div> <!-- /widget-header -->
        
             <div class="widget-content">

<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
<%= f.label :first_name, "First Name" %><br />
<%= f.text_field :first_name ,:style => "height: 30px;"%>
</div>
<div class="field">
<%= f.label :last_name, "Last Name" %><br />
<%= f.text_field :last_name,:style => "height: 30px;" %>
</div>
<div class="field">
<%= f.label :username %><br />
<%= f.text_field :username,:style => "height: 30px;" %>
</div>

<div class="field">
<%= f.label :password %><br />
<%= f.password_field :password,:style => "height: 30px;" %>
</div>
<div class="field">
<%= f.label :password_confirmation, "Confirmation" %><br />
<%= f.password_field :password_confirmation,:style => "height: 30px;" %>
</div>
<div>
<div class="field">
<%= f.label :email, "Email" %><br />
<%= f.text_field :email,:style => "height: 30px;" %>
</div>

<div class="field">
<%= f.label :mobile_no, "Mobile Number" %><br />
<%= f.text_field :mobile_no,:style => "height: 30px;" %>
</div>
<div>
<%= f.label :role_id ,"Role" %><br />
<%= f.collection_select :role_id, Role.all(:order => "id"), :id, :name %>
</div>
<div class="actions">
<%= f.submit "Create Staff" ,:class =>"btn btn-primary"%>
</div>
<% end %>

</div>	
</div>
</div>
</div>
