

    <div class="subnavbar">

    	<div class="subnavbar-inner">

    		<div class="container">

    			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
    				<i class="icon-reorder"></i>
    			</a>

    			<div class="subnav-collapse collapse">
    				<ul class="mainnav">

    					<li class="active">
    						<a href="<%= readings_path %>">
    							<i><img src="/assets/reading.png" alt=""></i>
    							<span>Readings</span>
    						</a>	    				
    					</li>

    					<li class="dropdown">					
    						<a href="<%= mobile_devises_path %>" >
    							<i><img src="/assets/mobile.png" alt=""></i>
    							<span>Add Mobile</span>

    						</a>	    


    					</li>

    					<li class="dropdown">					
    						<a href="<%= activity_report_readings_path %>" >
    							<i><img src="/assets/report.png" alt=""></i>
    							<span>MIS/Report</span>

    						</a>	    


    					</li>
                            <li class="dropdown">                   
                            <a href="<%= user_tracking_path %>" >
                                <i><img src="/assets/report.png" alt=""></i>
                                <span>User Report</span>

                            </a>        


                        </li>
          
    					<li class="dropdown">					
    						<a href="<%= staffs_path %>">
    							<i><img src="/assets/staff.png" alt=""></i>
    							<span>Add Staff</span>
    						</a>	
    					</li>


    					<li class="dropdown">					
    						<a href="<%= teams_path %>">
    							<i><img src="/assets/team.png" alt=""></i>
    							<span>Create Team</span>
    						</a>	
    					</li>

    					<li class="dropdown">					
    						<a href="<%= dtc_staffs_path %>">
    							<i><img src="/assets/distribution.png" alt=""></i>
    							<span>Associate Route </br>To Staff</span>
    						</a>	
    					</li>


    						<li class="dropdown">					
    						<a href="<%= mobileusers_path %>">
    							<i><img src="/assets/mobile.png" alt=""></i>
    							<span>Assign Mobile </br>To User</span>
    						</a>	
    					</li>

    					<li class="dropdown">					
    						<a href="<%= add_csv_consumers_path %>">
    							<i><img src="/assets/excel2.png" alt=""></i>
    							<span>Upload</br>Consumers</span>
    						</a>	
    					</li>

    					<li class="dropdown">					
    						<a href="<%= meter_statuses_path %>">
    							<i><img src="/assets/meter_status.png" alt=""></i>
    							<span>Meter Status</span>
    						</a>	
    					</li>

    					<li class="dropdown">					
    						<a href="<%= meter_reader_statuses_path %>">
    							<i><img src="/assets/meter_readers_tatus.png" alt=""></i>
    							<span>Meter Reader</br> Status</span>
    						</a>	
    					</li>

    						<li class="dropdown">					
    						<a href="<%= route_consumers_path %>">
    						<i><img src="/assets/meter_readers_tatus.png" alt=""></i>
    							<span>Route Listing</span>
    						</a>	
    					</li>

    				</ul>
    			</div> <!-- /.subnav-collapse -->

    		</div> <!-- /container -->

    	</div> <!-- /subnavbar-inner -->

    </div>