	     <td><%= reading.consumer_no rescue nil%>&nbsp;</td>
         <td><%= reading.read_by rescue nil%>&nbsp;</td>
         <td><%= reading.remark  rescue nil %>
        </td>
        <td><%= reading.old_meter_no rescue nil %></td>
        <td><%= reading.new_meter_no rescue nil %></td>
        <td><%= reading.meter_reading  rescue nil%>&nbsp;</td>
        <td><%= reading.sub_cluster rescue nil%>&nbsp;</td>
        <td><%= reading.meter_status rescue nil%>&nbsp;</td>
        <td><%= reading.meter_reader_status rescue nil%>&nbsp;</td>
        <td><%= reading.created_at.strftime("%T %a %b %e %Y ")   %></td>
        <td><%= image_tag reading.image.url ,:class => "img1" rescue nil %></td>
        <td> <%= link_to 'Show', reading,:class => "btn btn-primary" %></td>
         <td><%= link_to "Reject", reading , method: :delete, data: { confirm: 'Are you sure, you want to reject reading?' }, :class => "btn btn-primary" %></td>
