<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">  
    
   <title>Meter Reading KIPL</title>
    <!--jquery-->
    <%= stylesheet_link_tag "application","gmaps4rails.css","bootstrap.min.css","bootstrap-responsive.min.css","http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600","font-awesome.min.css","/assets/ui-lightness/jquery-ui-1.10.0.custom.min.css","base-admin-2.css","base-admin-2-responsive.css","/assets/pages/dashboard.css","custom.css" %>


<%= stylesheet_link_tag  "token-input-facebook" %>



   <%= javascript_include_tag "application" %>
   <%= javascript_include_tag  "jquery.tokeninput" %>
    <%= csrf_meta_tags %>
    <%= yield :scripts %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

    	<div class="navbar-inner">

    		<div class="container">

    			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    				<i class="icon-cog"></i>
    			</a>

    			<a class="brand" href="/dashboard">
    				<img src="/assets/logo.png" alt="">
    			</a>		

    			<div class="nav-collapse collapse">
    				<ul class="nav pull-right">
    					<li class="dropdown">

    						<a href="<%= user_path(current_user) %>" class="dropdown-toggle" data-toggle="dropdown">
    							<i class="icon-cog"></i>
    							Settings
    							<b class="caret"></b>
    						</a>

    						<ul class="dropdown-menu">
    							<li><a href="#">Profile</a></li>



    						</ul>

    					</li>

    					<li class="dropdown">

    						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    							<i class="icon-user"></i> 
    							<%= current_user.username %>
    							<b class="caret"></b>
    						</a>

    						<ul class="dropdown-menu">
    							<li><a href="#">My Profile</a></li>

    							<li class="divider"></li>
    							<li><a href="<%= signout_path%>" data-method="destroy">Logout</a></li>
    						</ul>

    					</li>
    				</ul>

    				<form class="navbar-search pull-right" />
    					<input type="text" class="search-query" placeholder="Search" />
    				</form>

    			</div><!--/.nav-collapse -->	

    		</div> <!-- /container -->

    	</div> <!-- /navbar-inner -->

    </div> <!-- /navbar -->


    <%= render 'shared/menu'%>
 <!-- /subnavbar -->
        
    </div>
    
    <div class="main">

        <div class="container">
        
                  <%= yield %>
                  
        </div>        
    </div>      
    
    <%= render 'shared/footer'%>
     <!-- /footer -->
    <!--Container-->
    

     

    
    <!--jquery-->
    
   
    <!--jquery init-->
    <script>
        $('document').ready(function () {
            Dashboard.init();
        });

        //Live Tooltip
        $('body').tooltip({
            selector: '[rel=tooltip]'
        });

        function ShowHelp() {
            window.open('help.html', '', 'height=600,width=800,scrollbars=1,resizable=1');
        }
    </script>
</body>
</html>
